body {
  background-image: url("../img/background.jpg");
  background-size: 220px;
  background-repeat: repeat;

}
@media screen and (min-width: 640px) {
  body {
    padding-bottom: 100px;

  }
}
.bg-warning{
  color: red;
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}

#MusiquePartie{
  position: fixed;
  right: 0;
  top: 200px;
  width: 300px;
  height: 470px;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}

#DesPartie{
  position: fixed;
  left: 0;
  top: 200px;
  width: 300px;
  height: 470px;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}
#Partie{
  width: 1000px;
  color: gray;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}
#Partie:last-of-type{
  padding-bottom: 100px;
}

#title{
  max-width: 200px;
  height: 80px;
  margin-top: 2%;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}h1{
  margin-top: 0;

}

#minides{
  color: white;
  width: auto;
  height :390px;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}

#des{
  max-width: 400px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}
#inventaire{
  max-width: 450px;
  color: gray;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
  margin: 5% auto 5% auto;
}
#inventaire:last-child{
  padding-bottom: 100px;
}
#FichePerso{
  max-width: 450px;
  color: gray;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
  margin: 0 auto 20% auto;
}#FichePerso:last-child{
  padding-bottom: 100px;
}

#Musique{
  max-width: 400px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}#Musique:last-child{
  padding-bottom: 100px;
}

#connexionform{
  max-width: 400px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}

#LesPersonnages{
  color: gray;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
  margin: 0 auto 20% auto;
}
