body {
  background-image: url("../img/background.jpg");
  background-size: 220px;
  background-repeat: repeat;

}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}

#title{
  max-width: 200px;
  height: 80px;
  margin-top: 2%;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}h1{
  margin-top: 0;

}

#minides{
  color: white;
  width: auto;
  height :auto;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}

#des{
  max-width: 400px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}
#inventaire{
  max-width: 450px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
  margin: 5% auto 5% auto;
}
#FichePerso{
  max-width: 450px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
  margin: 0 auto 20% auto;
}

#Musique{
  max-width: 400px;
  color: white;
  font-size: large;
  background-image: url("../img/backgroundBlack.jpg");
  background-size: 150px;
  background-repeat: repeat;
}
